In [97]:
import numpy as np
import pandas as  pd 
import json
excel_path = "data/output/table3/[3, 13, 688, 201].xlsx"
df = pd.read_excel(excel_path, header=None)
df.replace(np.nan, None, inplace=True)
df

    0    1    2     3     4     5     6     7     8     9
0  1题  [2题   3题    4题   [5题    6题    7题    8题     题   10题
1   B    B    D     D     B     B     D     B     B     D
2  1赠  12题  13题  None  None  None  None  None  None  None
3   D    D    D  None  None  None  None  None  None  None

In [92]:
df.fillna('None')
key = pd.Series()
value =  pd.Series()
for row in df.iterrows():
    if row[0] % 2 ==0:
        key = key.append(row[1])
    else:
        value = value.append(row[1])
        
dic = dict(zip(key, value))
res_json = json.dumps(dic,ensure_ascii=False)
print(res_json)

{"1题": "B", "[2题": "B", "3题": "D", "4题": "D", "[5题": "B", "6题": "B", "7题": "D", "8题": "B", "题": "B", "10题": "D", "1赠": "D", "12题": "D", "13题": "D", "": ""}

/tmp/ipykernel_8309/2093822107.py:2: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  key = pd.Series()
/tmp/ipykernel_8309/2093822107.py:3: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  value =  pd.Series()
/tmp/ipykernel_8309/2093822107.py:6: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  key = key.append(row[1])
/tmp/ipykernel_8309/2093822107.py:8: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  value = value.append(row[1])
/tmp/ipykernel_8309/2093822107.py:6: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  key = key.append(row[1])
/tmp/ipykernel_8309/2093822107.py:8: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  value = value.append(row[1])

In [93]:
dic2= {'a':1}
dic.update(dic2)
dic

{'1题': 'B',
 '[2题': 'B',
 '3题': 'D',
 '4题': 'D',
 '[5题': 'B',
 '6题': 'B',
 '7题': 'D',
 '8题': 'B',
 '题': 'B',
 '10题': 'D',
 '1赠': 'D',
 '12题': 'D',
 '13题': 'D',
 '': '',
 'a': 1}